<h1 class="title">Tweeter</h1>
<div class="p-4">
  <div>
    <label>Email address</label>
    <input type="email" [(ngModel)]="email" class="form-control">
  </div>
  <div>
    <label>Password</label>
    <input type="password" [(ngModel)]="password" class="form-control">
  </div>
  <button class="btn btn-primary mt-2" (click)="signin()">Log in</button>
</div>
<p class="error" *ngIf="allFiledsNotCompleted">All fields must be completed</p>
<p class="error" *ngIf="userDoesNotExists">This user does not exist</p>
<div class="account">
  <a routerLink="/signup">Don't have an account</a>
</div>
